/* ELEMENT Selektor */
div {
    background-color: aqua;
}

/* id Selektor */
#header {
    font-size: 2rem;
}

/* Klassenselektor */
.subtitle {
    color: red;
}

#text p{
    background-color: blueviolet;
}